* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

p {
  font-size: 20px;
}

section {
  height: 100vh; /* it takes the whole screen space available*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  scroll-snap-align: start; /* this is the important part, add it to the children*/
}

.container {
  scroll-snap-type: y mandatory; /* specify direction [x,y, both] and type of snap [mandatory, proximity] */
  overflow-y: scroll; /* add overflow in the same direction */
  height: 100vh; /* specify the height */
}

.three {
  background: #2e6f95;
}

.two {
  background: #5c4d7d;
}

.one {
  background: #723c70;
}

.zero {
  background: #a01a58;
}

.ignition {
  background: #b7094c;
}
